@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 100% 98%;
    --foreground: 282 25% 25%;
    --card: 280 80% 96%;
    --card-foreground: 282 25% 25%;
    --popover: 280 100% 98%;
    --popover-foreground: 282 25% 25%;
    --primary: 314 55% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 280 70% 92%;
    --secondary-foreground: 282 25% 25%;
    --muted: 280 70% 95%;
    --muted-foreground: 282 15% 50%;
    --accent: 316 78% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 280 40% 90%;
    --input: 280 50% 92%;
    --ring: 314 55% 51%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 277 72% 12%;
      --foreground: 280 30% 95%;
      --card: 277 60% 17%;
      --card-foreground: 280 30% 95%;
      --popover: 277 72% 12%;
      --popover-foreground: 280 30% 95%;
      --primary: 314 65% 65%;
      --primary-foreground: 0 0% 100%;
      --secondary: 282 40% 30%;
      --secondary-foreground: 280 30% 95%;
      --muted: 277 50% 22%;
      --muted-foreground: 280 20% 70%;
      --accent: 316 80% 70%;
      --accent-foreground: 0 0% 10%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 282 30% 30%;
      --input: 282 30% 30%;
      --ring: 314 65% 65%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-muted;
  }

  @media (prefers-color-scheme: dark) {
    body {
       @apply bg-background;
    }
  }
}
